@import url(https://fonts.googleapis.com/css?family=Roboto+Slab|PT+Sans+Caption&subset=latin,cyrillic);@import url(https://fonts.googleapis.com/css?family=Anton);@import url(//db.onlinewebfonts.com/c/dd94ddf99b6082e709d2d5e47508fd56?family=SAASeriesW01-EMD);@import url(https://fonts.googleapis.com/css?family=Montserrat&display=swap);.no-margin {
  margin: 0;
}
.no-padding {
  padding: 0;
}
.no-border {
  border: 0;
}
.no-focus-style:focus {
  outline: none;
}
.number-input {
  -moz-appearance: textfield;
}
.number-input::-webkit-inner-spin-button,
.number-input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.defaultFont {
  font-family: "PT Sans", sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.65;
  text-transform: uppercase;
  color: #000;
}
.menubar-fixed {
  position: fixed;
  top: 0;
  height: 5vh;
}
.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}
.modal-default-settings {
  background-color: #fff;
  position: fixed;
  z-index: 2;
  border: 2px solid transparent;
  border-radius: 5px;
  -webkit-box-shadow: -2px 9px 9px 0 rgba(0, 0, 0, 0.66);
  box-shadow: -2px 9px 9px 0px rgba(0, 0, 0, 0.66);
}
.box-shadow {
  -webkit-box-shadow: -1px 2px 9px 0px rgba(0, 0, 0, 0.66);
  box-shadow: -1px 2px 9px 0px rgba(0, 0, 0, 0.66);
}
.box-shadow-bottom {
  -webkit-box-shadow: -2px 9px 9px 0 rgba(0, 0, 0, 0.66);
  box-shadow: -2px 9px 9px 0px rgba(0, 0, 0, 0.66);
}
.box-shadow-products-header {
  -webkit-box-shadow: 0 8px 40px -6px rgba(105, 104, 178, 0.18);
  box-shadow: 0 8px 40px -6px rgba(105, 104, 178, 0.18);
}
.box-shadow-products {
  -webkit-box-shadow: 1px 3px 4px rgba(117, 117, 117, 0.22);
  box-shadow: 1px 3px 4px rgba(117, 117, 117, 0.22);
}
.main_slider_card {
  width: 24%;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  text-align: center;
  background-color: #fff;
  background-clip: border-box;
  word-wrap: break-word;
}
.main_slider_card:focus {
  outline: none;
}
.cardsSlider {
  position: relative;
  overflow: hidden;
}
.cardsSlider .cardsSlider__content {
  position: relative;
}
.slider_next,
.slider_prev {
  border: 2px solid #E2E2E2;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  text-align: center;
  display: table;
  background-color: white;
  z-index: 2;
}
.slider_next:hover,
.slider_prev:hover {
  cursor: pointer;
}
div.slider_next {
  position: absolute;
  top: 94px;
  right: 4px;
}
div.slider_prev {
  position: absolute;
  top: 94px;
  left: 4px;
}
.slider_next span,
.slider_prev span {
  -webkit-text-stroke: 1px white;
  display: table-cell;
  vertical-align: middle;
}
.active {
  color: black;
}
.nonActive {
  color: #E2E2E2;
}
.nonActive > span:hover {
  color: #E2E2E2 !important;
}
.card img {
  padding-top: 24px;
  width: auto;
  height: 200px;
}
.rating__stars > span:nth-child(-n+4) {
  color: #fcc123;
}
.reviews__count {
  height: 24px;
  vertical-align: middle;
  font-family: Graphik_LC, Arial, sans-serif;
  font-size: 11px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.18;
  letter-spacing: normal;
  color: #9d9d9d;
  display: table;
}
.reviews__count > span {
  display: table-cell;
  vertical-align: middle;
}
.customerChoice__productDescription {
  min-height: 32px;
  text-align: left;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.35;
  letter-spacing: normal;
  color: #262626;
  overflow: hidden;
}
.customerChoice__productDescription {
  height: 42px;
  margin-bottom: 8px;
}
.customerChoice__productDescription > a {
  font-family: 'Roboto Slab', serif;
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
  color: black;
}
.customerChoice__productDescription > a:hover {
  color: #ff7070;
}
.productOfDay__currentPrice {
  /*div:first-child {
    background-image: url("../../../public/images/priceDecor.png");
  }*/
}
.productOfDay__currentPrice span {
  font-family: 'Roboto Slab', serif;
  font-size: 20px;
  font-weight: 600;
  padding: 4px 16px;
  color: #fff;
  background-color: #232F3E;
}
.cardsSlider__content > .card {
  min-width: 24.25%;
  margin-right: 1%;
}
.card:not(:last-child) {
  margin-right: 1%;
}
.next_btn,
.prev_btn {
  position: absolute;
  width: 2.2rem;
  height: 2.2rem;
  background: #C3C3C3;
  text-decoration: none;
  opacity: 0.5;
  display: table;
  cursor: pointer;
  z-index: 3;
}
.prev_btn {
  top: 107px;
  left: 1px;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
}
.prev_btn span {
  padding-left: 5px;
  text-align: left;
}
.next_btn {
  top: 107px;
  right: 1px;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
}
.next_btn span {
  padding-right: 5px;
  text-align: right;
}
.next_btn span,
.prev_btn span {
  display: table-cell;
  vertical-align: middle;
}
.next_btn span:hover,
.prev_btn span:hover {
  color: red;
}
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
html,
body {
  height: 100%;
}
body {
  font-size: 14px;
  min-width: 320px;
  position: relative;
  line-height: 1.65;
  font-family: "PT Sans", sans-serif;
  overflow-x: hidden;
  opacity: 1;
}
div,
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6,
ul,
p {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.65;
  text-transform: uppercase;
  color: #000;
}
a {
  text-decoration: none !important;
  outline: none;
}
img:focus {
  outline: none;
}
input {
  -moz-appearance: textfield;
  border: 0;
  text-align: center;
}
input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input:focus {
  outline: none;
}
input::-webkit-input-placeholder {
  text-align: center;
  font-weight: 600;
  font-family: "PT Sans", sans-serif;
  color: #999;
}
input:-moz-placeholder {
  text-align: center;
  font-weight: 600;
  font-family: "PT Sans", sans-serif;
  color: #999;
}
input::-moz-placeholder {
  text-align: center;
  font-weight: 600;
  font-family: "PT Sans", sans-serif;
  color: #999;
}
input:-ms-input-placeholder {
  text-align: center;
  font-weight: 600;
  font-family: "PT Sans", sans-serif;
  color: #999;
}
button {
  border-color: transparent !important;
}
button:active,
button:focus {
  outline: none !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}
ul {
  list-style-type: none;
  background-color: #f2f2f2;
}
.grid {
  display: grid;
}
.container-fluid {
  padding-left: 0!important;
}
.adaptive_menu-bg {
  background-color: #f2f2f2;
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 60px;
  max-height: 60px;
  grid-template-columns: 1fr;
}
.adaptive_menu-bg .container {
  -ms-flex-item-align: center;
      align-self: center;
}
.adaptive_menu-bg .container ul[role=menubar] {
  background-color: transparent;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 5vh;
}
.adaptive_menu-bg .container ul[role=menubar] a {
  color: #999;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  position: relative;
}
.adaptive_menu-bg .container ul[role=menubar] a:after {
  display: block;
  content: "";
  height: 2px;
  width: 0;
  background-color: #39B54A;
  -webkit-transition: width 0.2s ease-in-out;
  transition: width 0.2s ease-in-out;
}
.adaptive_menu-bg .container ul[role=menubar] a:hover,
.adaptive_menu-bg .container ul[role=menubar] a:hover:after,
.adaptive_menu-bg .container ul[role=menubar] a:focus:after {
  color: #39B54A;
  width: 100%;
  text-shadow: 1px 1px 1px #ebebeb;
}
.adaptive_menu-bg .mobile-menu {
  display: none;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}
.adaptive_menu-bg .mobile-menu p {
  justify-self: flex-end;
}
.adaptive_menu-bg .mobile-menu p:hover {
  cursor: pointer;
  color: #39B54A;
}
.adaptive_menu-bg .mobile-menu > ul {
  padding-left: 24px;
  position: absolute;
  height: 0;
  overflow: hidden;
  width: 100%;
  top: 55.2px;
}
.adaptive_menu-bg .mobile-menu > ul li {
  padding: 12px;
  cursor: pointer;
  font-size: 16px;
}
.adaptive_menu-bg .mobile-menu > ul li:first-child {
  margin-top: 6px;
}
.adaptive_menu-bg .mobile-menu > ul li:last-child {
  margin-bottom: 6px;
}
.adaptive_menu-bg .mobile-menu > ul li:hover {
  -webkit-box-shadow: -1px 2px 9px 0px rgba(0, 0, 0, 0.66);
  box-shadow: -1px 2px 9px 0px rgba(0, 0, 0, 0.66);
}
.adaptive_menu-bg .mobile-menu > ul li a {
  color: #999;
}
.adaptive_menu-bg .mobile-menu > ul li a:after {
  background-color: transparent;
}
.banner__contacts-bg {
  background: url(/images/main_background.png) no-repeat 50% 0;
  padding-top: 5vh;
}
.banner__contacts-bg .contacts-wrapper {
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  padding-top: 36px;
}
.banner__contacts-bg .contacts-wrapper .contacts__logo img {
  width: 60%;
  height: auto;
}
.banner__contacts-bg .contacts-wrapper .contacts__social {
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  justify-items: center;
}
.banner__contacts-bg .contacts-wrapper .contacts__social a {
  color: #f1e9e9;
  font-weight: normal;
}
.banner__contacts-bg .contacts-wrapper .contacts__social a:hover {
  color: #39B54A;
}
.banner__contacts-bg .contacts-wrapper .contacts__contact {
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 0.5fr 1fr;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  justify-items: flex-end;
}
.banner__contacts-bg .contacts-wrapper .contacts__contact a,
.banner__contacts-bg .contacts-wrapper .contacts__contact span {
  font-family: "PT Sans", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.65;
  text-transform: none;
  color: #f1e9e9;
}
.banner__contacts-bg .contacts-wrapper .contacts__contact a::before,
.banner__contacts-bg .contacts-wrapper .contacts__contact span::before {
  content: '';
  display: block;
  height: 0;
  width: 0;
  margin-top: calc((1 - 1.65) * 0.5em);
}
.banner__contacts-bg .contacts-wrapper .contacts__contact p:nth-child(2) span,
.banner__contacts-bg .contacts-wrapper .contacts__contact p:last-child span,
.banner__contacts-bg .contacts-wrapper .contacts__contact p:nth-child(2) a,
.banner__contacts-bg .contacts-wrapper .contacts__contact p:last-child a {
  font-size: 14px;
}
.banner__contacts-bg .contacts-wrapper .contacts__contact a:hover {
  color: #39B54A;
}
.nav-bar {
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  justify-items: center;
  background-color: #f2f2f2;
  -webkit-box-shadow: -1px 2px 9px 0px rgba(0, 0, 0, 0.66);
  box-shadow: -1px 2px 9px 0px rgba(0, 0, 0, 0.66);
  border: 2px solid transparent;
  border-radius: 0.4em;
  width: 70%;
  margin: auto;
  padding-top: 24px;
  padding-bottom: 24px;
}
.nav-bar .nav-bar__item p {
  text-align: center;
}
.nav-bar .nav-bar__item p span {
  display: block;
  font-family: "PT Sans", sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.65;
  text-transform: uppercase;
  color: #000;
}
.nav-bar .nav-bar__item p a:hover span {
  color: #39B54A;
}
.main_page {
  margin-top: 24px;
}
.main_page .main_page__banner {
  -webkit-box-shadow: -2px 9px 9px 0 rgba(0, 0, 0, 0.66);
  box-shadow: -2px 9px 9px 0px rgba(0, 0, 0, 0.66);
  border: 2px solid transparent;
  border-radius: 0.4em;
}
.main_page .main_page__banner img {
  width: 100%;
  height: auto;
}
.main_page .main_page__slider {
  margin-top: 24px;
}
.main_page .main_page__slider > h2 {
  margin-bottom: 8px;
  font-family: 'Roboto Slab', serif;
  font-size: 26px;
  font-weight: 600;
  line-height: 1.65;
  text-transform: none;
}
.main_page .main_page__slider .main_slider .main_slider__card {
  width: 24%;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  text-align: center;
  background-color: #fff;
  background-clip: border-box;
  word-wrap: break-word;
}
.main_page .main_page__slider .main_slider .main_slider__card:focus {
  outline: none;
}
.main_page .main_page__slider .main_slider .main_slider__card:not(:last-child) {
  margin-right: 12px;
}
.main_page .main_page__slider .main_slider .main_slider__card .card__body {
  padding-top: 24px;
  padding-bottom: 24px;
  outline: none;
}
.main_page .main_page__slider .main_slider .main_slider__card .card__body .card__body-img {
  text-align: center;
}
.main_page .main_page__slider .main_slider .main_slider__card .card__body .card__body-img img {
  width: auto;
  height: 200px;
}
.main_page .main_page__slider .main_slider .main_slider__card .card__body .card__body-name {
  margin-top: 8px;
  padding-left: 24px;
  padding-right: 24px;
  font-family: 'Roboto Slab', serif;
  font-size: 14px;
  font-weight: 600;
  line-height: normal;
  text-transform: none;
}
.main_page .main_page__slider .main_slider .main_slider__card .card__body .card__body-name a {
  text-transform: uppercase;
  color: #000;
}
.main_page .main_page__slider .main_slider .main_slider__card .card__body .card__body-price {
  margin-top: 8px;
}
.main_page .main_page__slider .main_slider .main_slider__card .card__body .card__body-price span {
  color: #fff;
  font-family: 'Roboto Slab', serif;
  font-size: 20px;
  font-weight: 600;
  line-height: normal;
  text-transform: none;
  background-color: #232F3E;
  padding: 4px 18px;
}
.main_page .main_page__slider .slick-slide img {
  display: inline;
}
.main_page .main_page__slider .slick-prev {
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
  background: #C3C3C3;
  width: 36px;
  height: 36px;
  padding-left: 6px;
  top: calc(50% - 18px);
  left: -36px;
}
.main_page .main_page__slider .slick-prev:before {
  font-family: "Font Awesome 5 Free";
  font-size: 30px;
  font-weight: 600;
  line-height: normal;
  text-transform: none;
  content: "\F104";
}
.main_page .main_page__slider .slick-prev:hover,
.main_page .main_page__slider .slick-prev:focus {
  background: #C3C3C3;
}
.main_page .main_page__slider .slick-next {
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  background: #C3C3C3;
  width: 36px;
  height: 36px;
  top: calc(50% - 18px);
}
.main_page .main_page__slider .slick-next:before {
  font-family: "Font Awesome 5 Free";
  font-size: 30px;
  font-weight: 600;
  line-height: normal;
  text-transform: none;
  content: "\F105";
}
.main_page .main_page__slider .slick-next:hover,
.main_page .main_page__slider .slick-next:focus {
  background: #C3C3C3;
}
.main_page .main_page__slider .slick-prev:before,
.main_page .main_page__slider .slick-next:before {
  color: #4f4f4f;
}
.contacts {
  margin-top: 120px;
}
.contacts .contacts__information {
  margin-top: 24px;
}
.contacts .contacts__information h2 {
  font-family: 'Roboto Slab', serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 32px;
  text-transform: none;
  margin-bottom: 12px;
}
.contacts .contacts__information .information__phone p,
.contacts .contacts__information .information__email p,
.contacts .contacts__information .information__map p {
  font-family: 'Roboto Slab', serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 32px;
  text-transform: none;
}
.contacts .contacts__information .information__phone p:last-child,
.contacts .contacts__information .information__email p:last-child,
.contacts .contacts__information .information__map p:last-child {
  color: #39B54A;
}
.contacts .contacts__information .information__phone p:last-child a,
.contacts .contacts__information .information__email p:last-child a,
.contacts .contacts__information .information__map p:last-child a {
  color: #39B54A;
}
.contacts .contacts__information .information__email {
  margin-top: 12px;
  margin-bottom: 12px;
}
.contacts #contacts__map {
  width: 100%;
  height: 50vh;
  margin-top: 12px;
  -webkit-box-shadow: -1px 2px 9px 0px rgba(0, 0, 0, 0.66);
  box-shadow: -1px 2px 9px 0px rgba(0, 0, 0, 0.66);
}
footer {
  height: 200px;
  margin-top: -24px;
  -webkit-box-shadow: -1px 2px 9px 0px rgba(0, 0, 0, 0.66);
  box-shadow: -1px 2px 9px 0px rgba(0, 0, 0, 0.66);
  background: url(/images/main_background_footer.png) no-repeat 50% 0;
  background-size: cover;
}
footer .footer-wrapper {
  height: 90%;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
footer .footer-wrapper .container {
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, 1fr);
  grid-row-gap: 12px;
  justify-items: center;
}
footer .footer-wrapper .container p {
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  text-transform: none;
  color: #f2f2f2;
}
footer .footer-wrapper .container p:first-child span:first-child {
  font-size: 18px;
  color: #39B54A;
  padding-right: 6px;
}
.breadcrumbs {
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
}
.breadcrumbs .breadcrumbs__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.breadcrumbs .breadcrumbs__content p {
  font-family: "PT Sans", sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.65;
  text-transform: uppercase;
  color: #000;
  color: #4f4f4f;
  font-size: 16px;
}
.breadcrumbs .breadcrumbs__content p a {
  color: inherit;
  display: inline-block;
  cursor: pointer;
  position: relative;
  z-index: 1;
}
.breadcrumbs .breadcrumbs__content p a::after {
  background-color: #4f4f4f;
  display: block;
  content: "";
  height: 2px;
  width: 0;
  left: 50%;
  position: absolute;
  -webkit-transition: width 0.3s ease-in-out;
  -moz--transition: width 0.3s ease-in-out;
  transition: width 0.3s ease-in-out;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}
.breadcrumbs .breadcrumbs__content p a:hover,
.breadcrumbs .breadcrumbs__content p a:hover:after,
.breadcrumbs .breadcrumbs__content p a:focus:after {
  color: #4f4f4f;
  width: 100%;
  text-shadow: 1px 1px 1px #ebebeb;
}
.breadcrumbs .breadcrumbs__content p:nth-child(2) {
  margin-left: 4px;
  margin-right: 4px;
}
.breadcrumbs .breadcrumbs__content p:last-child {
  color: #a7a7a7;
}
.t_shirts {
  margin-top: 120px;
}
.t_shirts .product_article__content {
  margin-top: 24px;
}
.t_shirts .product_article__content .content__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 6.66666667vh;
  -webkit-box-shadow: 0 8px 40px -6px rgba(105, 104, 178, 0.18);
  box-shadow: 0 8px 40px -6px rgba(105, 104, 178, 0.18);
  padding-left: 24px;
}
.t_shirts .product_article__content .content__header h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  text-transform: uppercase;
}
.t_shirts .product_article__content .content__cards {
  margin-top: 24px;
  grid-template-columns: repeat(3, 1fr);
  -webkit-column-gap: 24px;
     -moz-column-gap: 24px;
          column-gap: 24px;
}
.t_shirts .product_article__content .content__cards .cards__item {
  border: 2px solid transparent;
  border-radius: 5px;
  background-color: #fff;
  -webkit-box-shadow: 1px 3px 4px rgba(117, 117, 117, 0.22);
  box-shadow: 1px 3px 4px rgba(117, 117, 117, 0.22);
  margin-top: 24px;
}
.t_shirts .product_article__content .content__cards .cards__item:nth-child(1),
.t_shirts .product_article__content .content__cards .cards__item:nth-child(2),
.t_shirts .product_article__content .content__cards .cards__item:nth-child(3) {
  margin-top: 0;
}
.t_shirts .product_article__content .content__cards .cards__item .cards__item-img p {
  text-align: center;
}
.t_shirts .product_article__content .content__cards .cards__item .cards__item-img p img {
  width: 45%;
  height: auto;
}
.t_shirts .product_article__content .content__cards .cards__item .cards__item-name {
  grid-template-columns: 1fr;
  grid-template-rows: repeat(1fr);
  justify-items: center;
  /*padding-left: @defaultGutter;*/
}
.t_shirts .product_article__content .content__cards .cards__item .cards__item-name p {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 32px;
  text-transform: none;
}
.t_shirts .product_article__content .content__cards .cards__item .cards__item-price {
  padding-left: 24px;
}
.t_shirts .product_article__content .content__cards .cards__item .cards__item-price p {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 32px;
  text-transform: none;
  color: #39B54A;
}
.t_shirts .product_article__content .content__cards .cards__item .cards__item-description {
  margin-top: 12px;
  padding-left: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.t_shirts .product_article__content .content__cards .cards__item .cards__item-description div:hover {
  cursor: pointer;
}
.t_shirts .product_article__content .content__cards .cards__item .cards__item-description div p {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 32px;
  text-transform: none;
}
.t_shirts .product_article__content .content__cards .cards__item .cards__item-description div p:first-child {
  width: 40px;
}
.t_shirts .product_article__content .content__cards .cards__item .cards__item-description div p:last-child:hover {
  color: #39B54A;
}
.t_shirts .product_article__content .content__cards .cards__item .cards__item-description div p img {
  width: 65%;
  height: auto;
}
.t_shirts .product_article__content .content__cards .cards__item .cards__item-order {
  margin-top: 12px;
  margin-bottom: 12px;
  padding-left: 24px;
}
.t_shirts .product_article__content .content__cards .cards__item .cards__item-order button {
  width: 50%;
  background-color: #6d8896;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 32px;
  text-transform: none;
}
.t_shirts .product_article__content .content__cards .cards__item .cards__item-order button:hover {
  background-image: linear-gradient(100deg, #39B54A 0, #49d15b);
  -webkit-box-shadow: 0 8px 50px -6px rgba(84, 84, 120, 0.26);
          box-shadow: 0 8px 50px -6px rgba(84, 84, 120, 0.26);
}
.t_shirts .product_article__content .content__cards .cards__item .cards__item-order button:hover {
  background-image: linear-gradient(100deg, #6d8896 0, #2f3f47);
  -webkit-box-shadow: 0 8px 50px -6px rgba(84, 84, 120, 0.26);
          box-shadow: 0 8px 50px -6px rgba(84, 84, 120, 0.26);
}
.modal-wrapper {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1;
}
.modal-clothes_size {
  background-color: #fff;
  position: fixed;
  z-index: 2;
  border: 2px solid transparent;
  border-radius: 5px;
  -webkit-box-shadow: -2px 9px 9px 0 rgba(0, 0, 0, 0.66);
  box-shadow: -2px 9px 9px 0px rgba(0, 0, 0, 0.66);
  top: 20%;
  left: 20%;
}
.modal-clothes_size .clothes-size__content {
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 10fr 2fr;
  justify-items: right;
  padding-right: 6px;
  padding-top: 3px;
}
.modal-clothes_size .clothes-size__content .content__close-window span:hover {
  color: #39B54A;
  cursor: pointer;
}
.modal-clothes_size .clothes-size__content .content__table {
  width: 100%;
  justify-self: left;
  padding-left: 48px;
  padding-right: 48px;
}
.modal-clothes_size .clothes-size__content .content__table tbody tr th,
.modal-clothes_size .clothes-size__content .content__table tbody tr td {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 32px;
  text-transform: none;
  text-align: center;
  /*&:first-child {
              background-color: @menuItemColor;
              &:not(.selected-size):hover {
                color: @cardsBackgroundColor;
                cursor: pointer;
              }
            }*/
}
.modal-clothes_size .clothes-size__content .content__table tbody tr:first-child th {
  font-family: 'Roboto Slab', serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 32px;
  text-transform: uppercase;
}
.modal-clothes_size .clothes-size__content .content__table tbody tr:first-child th:first-child {
  cursor: default;
  color: #000 !important;
}
.modal-clothes_size .clothes-size__content .content__table tbody tr:first-child th:last-child {
  vertical-align: middle;
}
.modal-clothes_size .clothes-size__content .content__table img {
  width: 100%;
  height: auto;
}
.modal-clothes_size .clothes-size__content .content__order {
  justify-self: left;
  padding-top: 12px;
  padding-left: 48px;
}
.modal-clothes_size .clothes-size__content .content__order .order__confirm {
  /*flex-wrap: wrap;
        div:first-child {
          margin-bottom: @defaultGutter/2;
          p {
            .fontSettings(@productsCardFont, 18px, bold, 32px, none);
            &:first-child {
            }
            &:nth-child(2) {
              padding-left: @defaultGutter/2;
              text-align: left;
              input {
                width: 30%;
                //height:40%;
                .borderSettings(2px solid @breadcrumbsDisableItemColor; 500px);
                //padding-left: @defaultGutter/8;
              }
            }
            &:last-child {
              span {
                .fontSettings(@footerFont, 24px, bold, 32px, none);
              }
            }
          }
        }*/
  /*button {
          .button(25%, @menuItemHoverColor);
          .button-hover(@menuItemHoverColor, @menuItemHoverGradientColor);
        }*/
}
.modal-clothes_size .clothes-size__content .content__order .order__confirm button {
  width: auto;
  background-color: #6d8896;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 32px;
  text-transform: none;
}
.modal-clothes_size .clothes-size__content .content__order .order__confirm button:hover {
  background-image: linear-gradient(100deg, #39B54A 0, #49d15b);
  -webkit-box-shadow: 0 8px 50px -6px rgba(84, 84, 120, 0.26);
          box-shadow: 0 8px 50px -6px rgba(84, 84, 120, 0.26);
}
.modal-clothes_size .clothes-size__content .content__order .order__confirm button:hover {
  background-image: linear-gradient(100deg, #6d8896 0, #2f3f47);
  -webkit-box-shadow: 0 8px 50px -6px rgba(84, 84, 120, 0.26);
          box-shadow: 0 8px 50px -6px rgba(84, 84, 120, 0.26);
}
.modal-clothes_size .clothes-size__content .content__order .order__checkout button {
  width: auto;
  background-color: #6d8896;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 32px;
  text-transform: none;
}
.modal-clothes_size .clothes-size__content .content__order .order__checkout button:hover {
  background-image: linear-gradient(100deg, #39B54A 0, #49d15b);
  -webkit-box-shadow: 0 8px 50px -6px rgba(84, 84, 120, 0.26);
          box-shadow: 0 8px 50px -6px rgba(84, 84, 120, 0.26);
}
.modal-clothes_size .clothes-size__content .content__order .order__checkout button:hover {
  background-image: linear-gradient(100deg, #6d8896 0, #2f3f47);
  -webkit-box-shadow: 0 8px 50px -6px rgba(84, 84, 120, 0.26);
          box-shadow: 0 8px 50px -6px rgba(84, 84, 120, 0.26);
}
.modal-clothes_size .clothes-size__content .content__order .order__checkout .checkout__info {
  font-family: 'Roboto Slab', serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 32px;
  text-transform: none;
  color: red;
}
.modal-product_description {
  background-color: #fff;
  position: fixed;
  z-index: 2;
  border: 2px solid transparent;
  border-radius: 5px;
  -webkit-box-shadow: -2px 9px 9px 0 rgba(0, 0, 0, 0.66);
  box-shadow: -2px 9px 9px 0px rgba(0, 0, 0, 0.66);
  width: 50%;
  top: 10%;
  left: 20%;
}
.modal-product_description .product_description__content {
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 10fr 1fr;
  justify-items: right;
}
.modal-product_description .product_description__content .content__close-window {
  padding-right: 6px;
  padding-top: 3px;
}
.modal-product_description .product_description__content .content__close-window span:hover {
  color: #39B54A;
  cursor: pointer;
}
.modal-product_description .product_description__content .content__description {
  justify-self: left;
  padding-left: 48px;
  padding-right: 48px;
}
.modal-product_description .product_description__content .content__description h2 {
  font-family: "PT Sans", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  text-transform: uppercase;
  margin-bottom: 24px;
}
.modal-product_description .product_description__content .content__description ul {
  background-color: #fff;
  margin-bottom: 12px;
}
.modal-product_description .product_description__content .content__description ul li {
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
}
.modal-product_description .product_description__content .content__description ul li:not(:last-child) {
  margin-bottom: 6px;
}
.modal-product_description .product_description__content .content__description ul li span {
  font-family: 'Roboto Slab', serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 32px;
  text-transform: none;
}
.modal-product_description .product_description__content .content__description ul li span:first-child {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 32px;
  text-transform: none;
}
.modal-product_description .product_description__content .content__description ul li span:last-child {
  text-align: right;
}
.modal-product_description .product_description__content .content__description ul li:nth-child(2n) {
  background-color: #f9fafe;
}
.modal-product_description .product_description__content .content__description div {
  margin-bottom: 24px;
}
.modal-product_description .product_description__content .content__description div p {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 32px;
  text-transform: none;
  text-align: justify;
}
.modal-product_description .product_description__content .content__description button {
  width: auto;
  background-color: #6d8896;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 32px;
  text-transform: none;
}
.modal-product_description .product_description__content .content__description button:hover {
  background-image: linear-gradient(100deg, #39B54A 0, #49d15b);
  -webkit-box-shadow: 0 8px 50px -6px rgba(84, 84, 120, 0.26);
          box-shadow: 0 8px 50px -6px rgba(84, 84, 120, 0.26);
}
.modal-product_description .product_description__content .content__description button:hover {
  background-image: linear-gradient(100deg, #6d8896 0, #2f3f47);
  -webkit-box-shadow: 0 8px 50px -6px rgba(84, 84, 120, 0.26);
          box-shadow: 0 8px 50px -6px rgba(84, 84, 120, 0.26);
}
.modal-product_order {
  background-color: #fff;
  position: fixed;
  z-index: 2;
  border: 2px solid transparent;
  border-radius: 5px;
  -webkit-box-shadow: -2px 9px 9px 0 rgba(0, 0, 0, 0.66);
  box-shadow: -2px 9px 9px 0px rgba(0, 0, 0, 0.66);
  top: 20%;
  left: 30%;
}
.modal-product_order .product_order__content {
  grid-template-columns: 1fr;
  grid-template-rows: 0.5fr 10fr 0.5fr;
  justify-items: right;
}
.modal-product_order .product_order__content .content__close-window {
  padding-right: 6px;
  padding-top: 3px;
}
.modal-product_order .product_order__content .content__close-window span:hover {
  color: #39B54A;
  cursor: pointer;
}
.modal-product_order .product_order__content .content__description {
  justify-self: left;
  padding-left: 48px;
  padding-right: 48px;
}
.modal-product_order .product_order__content .content__description h2 {
  font-family: "PT Sans", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  text-transform: uppercase;
  margin-bottom: 24px;
}
.modal-product_order .product_order__content .content__description ul {
  background-color: #fff;
  margin-bottom: 24px;
}
.modal-product_order .product_order__content .content__description ul li {
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
}
.modal-product_order .product_order__content .content__description ul li:not(:last-child) {
  margin-bottom: 6px;
}
.modal-product_order .product_order__content .content__description ul li span {
  font-family: 'Roboto Slab', serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 32px;
  text-transform: none;
}
.modal-product_order .product_order__content .content__description ul li span:first-child {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 32px;
  text-transform: none;
}
.modal-product_order .product_order__content .content__description ul li span:last-child {
  text-align: right;
}
.modal-product_order .product_order__content .content__description ul li:nth-child(2n) {
  background-color: #f9fafe;
}
.modal-product_order .product_order__content .content__description ul li.description__order-size ul {
  width: 610px;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: 1fr;
  -webkit-column-gap: 6px;
     -moz-column-gap: 6px;
          column-gap: 6px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.modal-product_order .product_order__content .content__description ul li.description__order-size ul li {
  padding-left: 12px;
  padding-right: 12px;
  font-family: 'Roboto Slab', serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 32px;
  text-transform: none;
  text-align: center;
  border: 1px solid #4f4f4f;
  border-radius: 0.25rem;
  background-color: #fff;
  margin-bottom: 0;
  /*&:first-child{
                  outline: 5px solid #555;
                  box-shadow: 0 0 4px rgba(10, 10, 10, 0.5);
                  border: none;
                }*/
}
.modal-product_order .product_order__content .content__description ul li.description__order-size ul li:hover {
  cursor: pointer;
}
.modal-product_order .product_order__content .content__description ul li.description__order-qty ul {
  padding-top: 4px;
}
.modal-product_order .product_order__content .content__description ul li.description__order-qty ul li {
  border: none;
}
.modal-product_order .product_order__content .content__description ul li.description__order-qty ul li input {
  border: 1px solid #4f4f4f;
  border-radius: 0.25rem;
  font-family: 'Roboto Slab', serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 16.8px;
  text-transform: none;
  height: 50px;
  width: 60px;
}
.modal-product_order .product_order__content .content__description ul li.description__order-qty ul li input::-webkit-input-placeholder {
  font-weight: bold;
  font-family: "PT Sans", sans-serif;
}
.modal-product_order .product_order__content .content__description ul li.description__order-qty ul li input:-moz-placeholder {
  font-weight: bold;
  font-family: "PT Sans", sans-serif;
}
.modal-product_order .product_order__content .content__description ul li.description__order-qty ul li input::-moz-placeholder {
  font-weight: bold;
  font-family: "PT Sans", sans-serif;
}
.modal-product_order .product_order__content .content__description ul li.description__order-qty ul li input:-ms-input-placeholder {
  font-weight: bold;
  font-family: "PT Sans", sans-serif;
}
.modal-product_order .product_order__content .content__description ul li.description__order-price span {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 32px;
  text-transform: none;
}
.modal-product_order .product_order__content .content__description ul li.description__order-price ul {
  padding-top: 4px;
}
.modal-product_order .product_order__content .content__description ul li.description__order-price ul li {
  border: none;
  font-family: 'Roboto Slab', serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  text-transform: none;
}
.modal-product_order .product_order__content .content__description ul li:nth-child(6) ul,
.modal-product_order .product_order__content .content__description ul li:nth-child(7) ul,
.modal-product_order .product_order__content .content__description ul li:nth-child(8) ul {
  padding-top: 4px;
}
.modal-product_order .product_order__content .content__description ul li:nth-child(6) ul li,
.modal-product_order .product_order__content .content__description ul li:nth-child(7) ul li,
.modal-product_order .product_order__content .content__description ul li:nth-child(8) ul li {
  border: none;
}
.modal-product_order .product_order__content .content__description ul li:nth-child(6) ul li input,
.modal-product_order .product_order__content .content__description ul li:nth-child(7) ul li input,
.modal-product_order .product_order__content .content__description ul li:nth-child(8) ul li input {
  text-align: left;
  font-family: 'Roboto Slab', serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 16.8px;
  text-transform: none;
  border-bottom: 1px solid #4f4f4f;
  height: 24px;
  width: 70%;
}
.modal-product_order .product_order__content .content__description ul li:nth-child(6) ul li input::-webkit-input-placeholder,
.modal-product_order .product_order__content .content__description ul li:nth-child(7) ul li input::-webkit-input-placeholder,
.modal-product_order .product_order__content .content__description ul li:nth-child(8) ul li input::-webkit-input-placeholder {
  text-align: left;
  font-weight: bold;
  font-family: "PT Sans", sans-serif;
  color: #999;
  font-size: 16.8px;
}
.modal-product_order .product_order__content .content__description ul li:nth-child(6) ul li input:-moz-placeholder,
.modal-product_order .product_order__content .content__description ul li:nth-child(7) ul li input:-moz-placeholder,
.modal-product_order .product_order__content .content__description ul li:nth-child(8) ul li input:-moz-placeholder {
  text-align: left;
  font-weight: bold;
  font-family: "PT Sans", sans-serif;
  color: #999;
  font-size: 16.8px;
}
.modal-product_order .product_order__content .content__description ul li:nth-child(6) ul li input::-moz-placeholder,
.modal-product_order .product_order__content .content__description ul li:nth-child(7) ul li input::-moz-placeholder,
.modal-product_order .product_order__content .content__description ul li:nth-child(8) ul li input::-moz-placeholder {
  text-align: left;
  font-weight: bold;
  font-family: "PT Sans", sans-serif;
  color: #999;
  font-size: 16.8px;
}
.modal-product_order .product_order__content .content__description ul li:nth-child(6) ul li input:-ms-input-placeholder,
.modal-product_order .product_order__content .content__description ul li:nth-child(7) ul li input:-ms-input-placeholder,
.modal-product_order .product_order__content .content__description ul li:nth-child(8) ul li input:-ms-input-placeholder {
  text-align: left;
  font-weight: bold;
  font-family: "PT Sans", sans-serif;
  color: #999;
  font-size: 16.8px;
}
.modal-product_order .product_order__content .content__description button {
  width: 25%;
  background-color: #39B54A;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 32px;
  text-transform: none;
}
.modal-product_order .product_order__content .content__description button:hover {
  background-image: linear-gradient(100deg, #39B54A 0, #49d15b);
  -webkit-box-shadow: 0 8px 50px -6px rgba(84, 84, 120, 0.26);
          box-shadow: 0 8px 50px -6px rgba(84, 84, 120, 0.26);
}
.modal-product_order .product_order__content .content__description button:hover {
  background-image: linear-gradient(100deg, #39B54A 0, #49d15b);
  -webkit-box-shadow: 0 8px 50px -6px rgba(84, 84, 120, 0.26);
          box-shadow: 0 8px 50px -6px rgba(84, 84, 120, 0.26);
}
.modal-confirm {
  background-color: #fff;
  position: fixed;
  z-index: 2;
  border: 2px solid transparent;
  border-radius: 5px;
  -webkit-box-shadow: -2px 9px 9px 0 rgba(0, 0, 0, 0.66);
  box-shadow: -2px 9px 9px 0px rgba(0, 0, 0, 0.66);
  -webkit-box-shadow: -1px 2px 9px 0px rgba(0, 0, 0, 0.66);
  box-shadow: -1px 2px 9px 0px rgba(0, 0, 0, 0.66);
  top: 20%;
  left: 30%;
  width: 50%;
}
.modal-confirm .confirm_description__content {
  grid-template-columns: 1fr;
  grid-template-rows: 0.5fr 1fr 0.5fr;
  justify-items: right;
}
.modal-confirm .confirm_description__content .content__close-window {
  padding-right: 6px;
  padding-top: 3px;
}
.modal-confirm .confirm_description__content .content__close-window span:hover {
  color: #39B54A;
  cursor: pointer;
}
.modal-confirm .confirm_description__content .content__description {
  justify-self: center;
}
.modal-confirm .confirm_description__content .content__description p {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 16.8px;
  text-transform: none;
  text-align: center;
}
.modal-confirm .confirm_description__content .content__description p:first-child {
  margin-bottom: 12px;
}
.modal-confirm .confirm_description__content .content__description button {
  width: auto;
  background-color: #39B54A;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 32px;
  text-transform: none;
  margin-top: 12px;
}
.modal-confirm .confirm_description__content .content__description button:hover {
  background-image: linear-gradient(100deg, #39B54A 0, #49d15b);
  -webkit-box-shadow: 0 8px 50px -6px rgba(84, 84, 120, 0.26);
          box-shadow: 0 8px 50px -6px rgba(84, 84, 120, 0.26);
}
.modal-confirm .confirm_description__content .content__description button:hover {
  background-image: linear-gradient(100deg, #39B54A 0, #49d15b);
  -webkit-box-shadow: 0 8px 50px -6px rgba(84, 84, 120, 0.26);
          box-shadow: 0 8px 50px -6px rgba(84, 84, 120, 0.26);
}
.selected-size {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: 5px solid #555;
  -webkit-box-shadow: 0 0 4px rgba(10, 10, 10, 0.5);
          box-shadow: 0 0 4px rgba(10, 10, 10, 0.5);
  border: none!important;
}
.error-input-field {
  color: red;
}
/*==========  Desktop First  ==========*/
/* Large Devices, Wide Screens */
/**/
/* Medium Devices, Desktops */
@media only screen and (max-width: 991px) {
  nav .banner__contacts-bg .contacts-wrapper {
    grid-template-columns: 0.8fr 1fr 1fr;
  }
  nav .banner__contacts-bg .contacts-wrapper .contacts__logo img {
    width: 90%;
    height: auto;
  }
  .main_slider .slick-next {
    right: -24px;
  }
}
/**/
/* Small Devices, Tablets */
@media only screen and (max-width: 767px) {
  nav .adaptive_menu-bg .ws-menu {
    display: none;
  }
  nav .adaptive_menu-bg .mobile-menu {
    display: grid;
  }
  nav .banner__contacts-bg .contacts-wrapper {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 0.5fr;
  }
  nav .banner__contacts-bg .contacts-wrapper .contacts__logo {
    display: grid;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  nav .banner__contacts-bg .contacts-wrapper .contacts__logo p {
    text-align: center;
  }
  nav .banner__contacts-bg .contacts-wrapper .contacts__logo p img {
    width: 40%;
  }
  nav .banner__contacts-bg .contacts-wrapper .contacts__social {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto;
  }
  nav .banner__contacts-bg .contacts-wrapper .contacts__social p:not(:last-child) {
    margin-right: 36px;
  }
  nav .banner__contacts-bg .contacts-wrapper .contacts__contact-wrapper {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    grid-template-columns: 1fr;
    justify-items: center;
  }
  nav .banner__contacts-bg .contacts-wrapper .contacts__contact-wrapper .contacts__contact {
    justify-items: flex-end;
  }
  nav .banner__contacts-bg .nav-bar {
    width: 100%;
  }
  footer {
    background: url(/images/main_background_footer.png) no-repeat 25% 0;
  }
  footer .footer-wrapper .container {
    grid-row-gap: 6px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer .footer-wrapper .container p {
    font-size: 12px;
  }
  footer .footer-wrapper .container p:first-child span:first-child {
    font-size: 14px;
  }
  footer .footer-wrapper .container p:last-child span {
    display: block;
    font-size: 14px;
  }
}
/**/
/* Slick carousel mobile version*/
@media only screen and (max-width: 599px) {
  .main_page .main_page__slider h2 {
    font-size: 20px;
  }
  .container .main_slider .slick-next {
    right: 13px;
  }
  .container .main_slider .slick-prev {
    left: 1px;
    z-index: 1;
  }
}
/**/
/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  /*
  footer {
    background: url(/images/main_background_footer.png) no-repeat 20% 0;
    .footer-wrapper {
      .container{
        grid-row-gap: @defaultGutter/4;
        align-items: center;
        p {
          font-size: 12px;
          &:first-child {
            span {
              &:first-child {
                font-size: 14px;
              }
            }
          }
          &:last-child{
            span {
              display:block;
              font-size: 14px;
            }
            ///padding-left: @defaultGutter*0.6;
            //justify-self: center;
          }
        }

      }
    }
  }
  */
}
/**/
/* Custom, iPhone Retina */
/**/
/*==========  Mobile First  ==========*/
/* Custom, iPhone Retina */
/**/
/* Extra Small Devices, Phones */
/**/
/* Small Devices, Tablets */
/**/
/* Iphone X Landscape orientation */
@media only screen and (min-width: 800px) and (max-width: 1000px) {
  .banner__contacts-bg > .container > .contacts-wrapper {
    padding-top: 48px;
  }
}
/**/
/* Medium Devices, Desktops */
/**/
/* Large Devices, Wide Screens */
/**/
