@import "_variables.less";
@import "_mixins.less";
@import "_functions.less";
@import (css) url(https://fonts.googleapis.com/css?family=Roboto+Slab|PT+Sans+Caption&subset=latin,cyrillic);
@import (css) url('https://fonts.googleapis.com/css?family=Anton');

* {
  box-sizing: border-box;

  &:before, &:after {
    box-sizing: border-box;
  }

}

html, body {
  height: 100%
}

body {
  font-size: @defaultFontSize;
  min-width: 320px;
  position: relative;
  line-height: @defaultFontLineHeight;
  font-family: @defaultFontFamily;
  overflow-x: hidden;
  opacity: 1;
}

div, h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6, ul, p, a {
  .no-margin;
  .no-padding;
  .defaultFont;
}
input {
  .number-input;
  .no-focus-style;
  .no-border;
  .placeholder({ text-align: center; font-weight: @defaultFontWeight;
    font-family: @defaultFontFamily; color: @menuitemColor;});
}

ul {
  list-style-type: none;
  background-color: @defaultBgColor;
}

.grid {
  display: grid;
}

.main-header {
  height: 30vh;
  position: relative;

  > nav {
    .menubar-fixed;
    width: 100%;
    background-color: @defaultBgColor;

    ul[role="menubar"] {
      .menubar-fixed;
      align-items: center;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: 1fr;
      li[role="menuitem"]:last-child{
        .borderSettings(1px solid #eaeaea,20px);
        padding: 2px 10px;
        background-color: #fff;
      }
      a {
        color: @menuitemColor;
        text-decoration: none;
      }
      a:hover{
        color:@menuitemHoverColor;
        border-bottom: 2px solid @menuitemHoverColor;
      }
    }
  }
}

@import "_media";