@import "_variables";
.flex(@horizontalAlign;@verticalAlign){
  display:flex;
  justify-content:@horizontalAlign;
  align-items:@verticalAlign;
}
.borderSettings(@arguments;@radius:.25rem){
  border:@arguments;
  border-radius: @radius;
}
.fontSettings(@family;@size;@weight;@lineHeight;@transform){
  font-family:@family;
  font-size: @size;
  font-weight: @defaultFontWeight;
  line-height: @lineHeight;
  text-transform: @transform;
}
.alignTo(@align){
  text-align: @align;
}
.placeholder(@rules) {

  &::-webkit-input-placeholder {
    @rules();
  }
  &:-moz-placeholder {
    @rules();
  }
  &::-moz-placeholder {
    @rules();
  }
  &:-ms-input-placeholder {
    @rules();
  }
}
.underscore-animate(@widthUnderscore:100%){
  display: inline-block;
  cursor: pointer;
  &:after {
    display: block;
    content: "";
    height: 2px;
    width: 0;
    background-color: @menuitemHoverColor;
    transition: width .2s ease-in-out;
  }
  &:hover,
  &:hover:after,
  &:focus:after {
    color:@menuitemHoverColor;
    width: @widthUnderscore;
    text-shadow: 1px 1px 1px #ebebeb;
  }
}