@import "_variables.less";
/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1199px){
  .content__logo{
    img{
      width:43%!important;
    }
  }
  ul[role="menubar"]{
    column-gap: @defaultGutter*2.5;
    li[role="menuitem"]:first-child {
      text-align: right!important;
    }
    li[role="menuitem"]:nth-child(2){
      justify-self: center;
    }
    li[role="menuitem"]:last-child {
      justify-self: center!important;
      padding-left: @defaultGutter
    }
  }
}
/**/


/* Medium Devices, Desktops */
@media only screen and (max-width : 991px){
  .nav-bar__content{
    width:99%!important;
    margin-left:@defaultGutter/6!important;
  }
  .contacts-bar__content {
    grid-template-columns: .5fr 1fr .7fr !important;
    .content__logo {
      p {
        text-align: left;
        img {
          width: 100%!important;
        }
      }
    }
    .content__contacts{
      justify-items:right;
    }
  }
  ul[role="menubar"]{
    li[role="menuitem"]:first-child {
      text-align: center!important;
      padding-right: @defaultGutter/2
    }
    li[role="menuitem"]:nth-child(2) {
      padding-right: @defaultGutter*2;
    }
    li[role="menuitem"]:last-child {
      justify-self: left!important;
      padding-left: @defaultGutter
    }
  }
}
/**/
/* header hamburger menu */
@media only screen and (max-width : 800px){
  nav{
    .container{
      width:100%!important;
    }
  }
  ul[role="menubar"]{
    &:first-child{
      display: none ;
    }
    &:last-child{
      display: block;
    }
  }
}
/**/
/* Small Devices, Tablets */
@media only screen and (max-width : 768px){

}
/**/


/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px){

}
/**/


/* Custom, iPhone Retina */
@media only screen and (max-width : 320px){

}
/**/


/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px){

}
/**/


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px){

}
/**/

/* Small Devices, Tablets */
@media only screen and (min-width : 768px){

}
/**/


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px){

}
/**/


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px){

}
/**/