@import "_variables.less";
@import "_mixins.less";
/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1199px) {

}

/**/

/* Medium Devices, Desktops */
@media only screen and (max-width: 991px) {
  nav {
    .banner__contacts-bg {
      .contacts-wrapper {
        grid-template-columns: .8fr 1fr 1fr;
        .contacts__logo {
          img {
            width: @defaultImgWidth*1.5;
            height: auto;
          }
        }
      }
    }
  }
}

/**/
/* Small Devices, Tablets */
@media only screen and (max-width: 767px) {
  nav {
    .adaptive_menu-bg {
      .ws-menu {
        display: none;
      }
      .mobile-menu {
        display: grid;
      }
    }
    .banner__contacts-bg {
      .contacts-wrapper {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr .5fr;
        .contacts__logo{
          display:grid;
          align-items: center;
          p{
            text-align: center;
            img{
              width: 40%;
            }
          }
        }
        .contacts__social{
          order: 2;
          display: flex;
          margin: 0 auto;
          p {
            &:not(:last-child){
              margin-right: @defaultGutter*1.5;
            }
          }
        }
        .contacts__contact-wrapper {
          order: 1;
          grid-template-columns: 1fr;
          justify-items: center;
          .contacts__contact{
            justify-items: flex-end;
          }
        }
      }
      .nav-bar{
        width: 100%;
      }
    }
  }

}

/**/

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {

}

/**/

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {

}

/**/

/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {

}

/**/

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {

}

/**/

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {

}

/**/

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {

}

/**/

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {

}

/**/