@import "_variables";
@import "_functions";
.no-margin{
  margin:0;
}
.no-padding{
  padding:0;
}
.no-border{
  border:0;
}
.no-focus-style{
  &:focus{
    outline: none;
  }
}
.number-input{
  &::-webkit-inner-spin-button,&::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  & {
    -moz-appearance: textfield;
  }
}

.defaultFont{
  font-family:@defaultFontFamily;
  font-size:@defaultFontSize;
  font-weight: @defaultFontWeight;
  line-height: @defaultFontLineHeight;
  text-transform: @defaultFontTextTransform;
  color:@defaultFontColor;
}
.menubar-fixed{
  position: fixed;
  top:0;
  height: 5vh;
}
.img-responsive{
  display: block;
  max-width: 100%;
  height: auto;
}
.modal-default-settings{
  background-color:/*#bae6e0cc;*/@cardsBackgroundColor;
  position: fixed;
  z-index: @defaultZIndex+1;
  .borderSettings(2px solid transparent; 5px);
  .box-shadow-bottom;
}
.box-shadow{
  -webkit-box-shadow: -1px 2px 9px 0px rgba(0,0,0,0.66);
  -moz-box-shadow: -1px 2px 9px 0px rgba(0,0,0,0.66);
  box-shadow: -1px 2px 9px 0px rgba(0,0,0,0.66);
}
.box-shadow-bottom{
  -webkit-box-shadow: -2px 9px 9px 0 rgba(0,0,0,0.66);
  -moz-box-shadow: -2px 9px 9px 0 rgba(0,0,0,0.66);
  box-shadow: -2px 9px 9px 0px rgba(0,0,0,0.66);
}
.box-shadow-products-header{

  -webkit-box-shadow: 0 8px 40px -6px rgba(105,104,178,.18);
  -moz-box-shadow: 0 8px 40px -6px rgba(105,104,178,.18);
  box-shadow: 0 8px 40px -6px rgba(105,104,178,.18);
}
.box-shadow-products{
  -webkit-box-shadow:1px 3px 4px rgba(117,117,117,.22);
  -moz-box-shadow: 1px 3px 4px rgba(117,117,117,.22);
  box-shadow: 1px 3px 4px rgba(117,117,117,.22);
}
.main_slider_card{
  width: 24%;
  .borderSettings(1px solid rgba(0,0,0,.125));
  text-align: center;
  background-color: @cardsBackgroundColor;
  background-clip: border-box;
  word-wrap: break-word;
  &:focus{
    outline: none;
  }
}