@import "_variables";
.no-margin{
  margin:0;
}
.no-padding{
  padding:0;
}
.no-border{
  border:0;
}
.no-focus-style{
  &:focus{
    outline: none;
  }
}
.number-input{
  &::-webkit-inner-spin-button,&::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  & {
    -moz-appearance: textfield;
  }
}

.defaultFont{
  font-family:@defaultFontFamily;
  font-size:@defaultFontSize;
  font-weight: @defaultFontWeight;
  line-height: @defaultFontLineHeight;
  text-transform: @defaultFontTextTransform;
  color:@defaultFontColor;
}
.menubar-fixed{
  position: fixed;
  top:0;
  height: 5vh;
}
.img-responsive{
  display: block;
  max-width: 100%;
  height: auto;
}