@defaultFontFamily:"PT Sans", sans-serif;
@defaultFontSize :14px;
@defaultFontWeight:600;
@defaultFontLineHeight: 1.65;
@defaultFontTextTransform:uppercase;
@defaultFontColor:#000;

@defaultBgColor:#f2f2f2;
@defaultGutter:24px;

@menuitemColor:#999;
@menuitemHoverColor:#d65b5a;